/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #000B1EFF;
    background-alt: #0A1528FF;
    border:         #000B83FF;
    foreground:     #0ABDC6FF;
    selected:       #F3D600FF;
    active:        	#bd00ffff;
    urgent:         #FF0000FF;
}
